.is-expanded .Map__container {
  width: 100%; }

.Map__container {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 1em;
  transition: padding 250ms ease-in-out; }

.Map {
  position: relative;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(var(--shadow), 0.2); }

.Map .leaflet-container a {
  background: var(--blue); }

.Map .leaflet-bar a:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px; }

.Map .leaflet-bar a:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom: none; }

.leaflet-container a {
  color: var(--blue); }

@media only screen and (max-width: 800px) {
  .Map__container {
    width: 100%;
    height: 100%;
    padding: 0; }
  .Map__buttons {
    display: none; } }

.Marker__tooltip strong {
  font-weight: bold; }
