.Marker,
.Cluster {
  width: 32px;
  height: 32px;
  background: var(--blue);
  background-size: 400% 400%;
  border: 5px solid #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 100%;
  transition: border 150ms ease-in-out, background 150ms ease-in-out; }

.Marker:hover {
  border: 8px solid #fff; }

.Marker.leaflet-zoom-animated.leaflet-interactive:focus-visible {
  border: 8px solid #fff;
  outline: 2px solid var(--blue); }

.Marker.is-good {
  background: var(--green); }

.Marker.is-ok {
  background: var(--yellow); }

.Marker.is-low {
  background: var(--red); }

.Marker.is-empty {
  background: var(--darkgray); }

.Marker.is-user {
  box-shadow: 0 2px 4px rgba(var(--shadow), 0.2);
  border-radius: 100%;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center; }

.Marker.is-user .Marker__inner {
  position: absolute;
  border-radius: 100%;
  width: 24px;
  height: 24px;
  background: var(--blue);
  border: 4px solid var(--white);
  box-shadow: 0 0 0 0 white;
  animation: pulse 1000ms ease-in-out infinite; }

.Marker.is-dock:focus .Marker__inner {
  transform: scale(1.2) rotate(90deg); }

.Marker.is-dock {
  border-radius: 4px;
  transform: scale(1) rotate(90deg); }

.Marker.is-dock .Marker__inner {
  border-radius: 4px;
  transform: scale(1) rotate(90deg); }

.Marker.is-dock:hover .Marker__inner {
  transform: scale(0.9) rotate(90deg); }

.Marker.is-highlighted:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -4px;
  margin-top: -4px;
  z-index: 1000;
  width: 8px;
  height: 8px;
  background: #fff;
  border-radius: 100%; }

.Cluster {
  font-weight: bold;
  background-color: var(--blue);
  color: #fff;
  line-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; }

.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
  border: none; }

.leaflet-cluster-anim .leaflet-marker-icon,
.leaflet-cluster-anim .leaflet-marker-shadow {
  -webkit-transition: -webkit-transform 0.3s ease-out, opacity 0.3s ease-in;
  -moz-transition: -moz-transform 0.3s ease-out, opacity 0.3s ease-in;
  -o-transition: -o-transform 0.3s ease-out, opacity 0.3s ease-in;
  transition: transform 0.3s ease-out, opacity 0.3s ease-in; }

.leaflet-cluster-spider-leg {
  -webkit-transition: -webkit-stroke-dashoffset 0.3s ease-out, -webkit-stroke-opacity 0.3s ease-in;
  -moz-transition: -moz-stroke-dashoffset 0.3s ease-out, -moz-stroke-opacity 0.3s ease-in;
  -o-transition: -o-stroke-dashoffset 0.3s ease-out, -o-stroke-opacity 0.3s ease-in;
  transition: stroke-dashoffset 0.3s ease-out, stroke-opacity 0.3s ease-in; }

.Marker.is-air {
  background: var(--white);
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center; }

.Marker.is-air .Marker__inner {
  border: 3px solid var(--white);
  width: 32px;
  height: 32px;
  border-radius: 100%;
  position: absolute;
  transition: transform 150ms cubic-bezier(0, 0, 0.25, 1); }

.Marker.is-air:hover .Marker__inner {
  transform: scale(0.9); }

.Marker.is-air.is-5 .Marker__inner {
  background: var(--white) url(/img/markers/5.svg);
  background-repeat: no-repeat;
  background-size: cover; }

.Marker.is-air.is-4 .Marker__inner {
  background: var(--white) url(/img/markers/4.svg);
  background-repeat: no-repeat;
  background-size: cover; }

.Marker.is-air.is-3 .Marker__inner {
  background: var(--white) url(/img/markers/3.svg);
  background-repeat: no-repeat;
  background-size: cover; }

.Marker.is-air.is-2 .Marker__inner {
  background: var(--white) url(/img/markers/2.svg);
  background-repeat: no-repeat;
  background-size: cover; }

.Marker.is-air.is-1 .Marker__inner {
  background: var(--white) url(/img/markers/1.jpg);
  background-repeat: no-repeat;
  background-size: cover; }
