/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

:root {
  --black: #000000;
  --blue: #2477BE;
  --gray: #F4F4F4;
  --darkgray: #666666;
  --green: #23D5AB;
  --red: #F44336;
  --shadow: 0,0,0;
  --white: #FFFFFF;
  --yellow: #FFEB3B; }

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(36, 119, 190, 0.7); }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 20px rgba(36, 119, 190, 0); }
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(36, 119, 190, 0); } }

@keyframes load8 {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes Gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

.slide-fade-enter-active,
.slide-fade-leave-active {
  transition: all 250ms ease-in-out; }

.slide-fade-enter .has-transition,
.slide-fade-leave-to .has-transition {
  transform: translateY(20px);
  opacity: 0; }

.slide-fade-enter .Config__backdrop,
.slide-fade-leave-to .Config__backdrop,
.slide-fade-enter .About__backdrop,
.slide-fade-leave-to .About__backdrop,
.slide-fade-enter .Alert__backdrop,
.slide-fade-leave-to .Alert__backdrop {
  opacity: 0; }

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s; }

.fade-enter, .fade-leave-to {
  opacity: 0; }

.About {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10000; }

.About__inner a {
  color: var(--black);
  text-decoration: underline; }

.About__inner strong {
  font-weight: 600; }

.About__inner p {
  margin: 0 0 16px 0;
  line-height: 135%; }

.About__inner p:last-child {
  margin: 0; }

.About__inner {
  background: var(--white);
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(var(--shadow), 0.2);
  padding: 1.2em;
  width: 500px;
  transition: all 250ms ease-in-out;
  z-index: 1000; }

.About__title {
  font-weight: bold;
  font-size: 1.1em;
  margin: 0 0 16px 0; }

.About__description {
  margin: 0 0 0.8em 0;
  line-height: 135%; }

.About__highlight {
  background: #f6f6f6;
  padding: 0.8em;
  line-height: 135%;
  border-radius: 4px;
  margin: 0 0 0.8em 0; }

.About__footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 0.7em;
  line-height: 135%; }

.About__content {
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column; }

.About__highlight .About__button.is-bold {
  padding: 0.8em;
  font-size: 1em; }

.About__backdrop {
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, var(--green));
  opacity: 0.5;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: opacity 250ms ease-in-out;
  animation: Gradient 3s ease-in-out infinite;
  cursor: pointer; }

@media only screen and (max-width: 800px) {
  .About__inner {
    width: 80%;
    padding: 1em;
    font-size: 0.9em; }
  .About__footer {
    flex-direction: column;
    font-size: 0.8em; }
  .About__highlight .About__button.is-bold {
    font-size: 0.8em; }
  .About__footer > div:first-child {
    margin: 0 0 0.2em; } }

.Alert {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10000; }

.Alert__content p:last-child {
  margin: 0; }

.Alert__description a {
  color: var(--black);
  text-decoration: underline; }

.Alert__content {
  background: var(--white);
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(var(--shadow), 0.2);
  padding: 32px;
  width: 500px;
  transition: all 250ms ease-in-out;
  z-index: 1000; }

.Alert__content p {
  margin: 0 0 16px; }

.Alert__title {
  font-weight: bold;
  margin: 0 0 16px 0; }

.Alert__description strong {
  font-weight: bold; }

.Alert__backdrop {
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, var(--green));
  opacity: 0.5;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: opacity 250ms ease-in-out;
  animation: Gradient 3s ease-in-out infinite;
  cursor: pointer; }

.Alert__footer {
  margin-top: 16px; }

.Alert__button {
  display: inline-block;
  border-radius: 4px;
  width: 100%;
  margin: auto;
  font-size: 1.2em;
  padding: 16px 0;
  border: none;
  outline: none;
  background: #2A84D2;
  color: var(--white);
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  box-shadow: none;
  transition: background 250ms ease-in-out; }

.Alert__button:hover {
  background: #1c598e;
  cursor: pointer; }

.Button {
  margin: auto; }

.Map__buttons {
  position: absolute;
  right: 40px;
  top: 70px;
  z-index: 1000; }

.Button.is-bold:hover {
  background: #1c598e; }

.Button.is-bold {
  display: inline-block;
  border-radius: 4px;
  width: 100%;
  margin: auto;
  font-size: 1.2em;
  padding: 16px 0;
  border: none;
  outline: none;
  background: #2A84D2;
  color: var(--white);
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  box-shadow: none;
  transition: all 250ms ease-in-out; }

.Button.is-destructive {
  background: red; }

.Button.is-destructive:hover {
  background: #c50000; }

.Button.is-disabled {
  opacity: 0.5;
  background: #ccc;
  cursor: default; }

.Button.is-disabled:hover {
  cursor: default;
  opacity: 0.5;
  background: #ccc; }

.Button.is-disabled.is-destructive:hover {
  opacity: 0.5;
  background: #ccc; }

.Button.is-link {
  text-decoration: underline;
  color: var(--black); }

.Input__field {
  background: #fff;
  z-index: 1000; }

.Input {
  width: 100%;
  border-radius: 4px;
  border: 1px solid #ccc;
  outline: none;
  padding: 16px;
  background: none;
  font-size: 1em;
  transition: all 250ms ease-in-out; }

.Input:focus {
  border: 1px solid #666; }

.Input__title {
  display: block;
  font-weight: bold; }

.Input__label {
  display: block;
  font-weight: bold;
  margin: 0 0 12px;
  opacity: 0.4; }

.Input__checkbox {
  display: flex;
  align-items: flex-start; }

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  input[type='checkbox'] {
    --active: #2A84D2;
    --active-inner: #fff;
    --focus: 2px rgba(0, 0, 0, 0.3);
    --border: #ccc;
    --border-hover: #2A84D2;
    --background: #fff;
    --disabled: #F6F8FF;
    --disabled-inner: #E1E6F9;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 21px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    cursor: pointer;
    border: 1px solid var(--bc, var(--border));
    background: var(--b, var(--background));
    transition: all 250ms ease-in-out; }
    input[type='checkbox']:after {
      content: '';
      display: block;
      left: 0;
      top: 0;
      position: absolute;
      transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s); }
    input[type='checkbox']:checked {
      --b: var(--active);
      --bc: var(--active);
      --d-o: .3s;
      --d-t: .6s;
      --d-t-e: cubic-bezier(.2, .85, .32, 1.2); }
    input[type='checkbox']:disabled {
      --b: var(--disabled);
      cursor: not-allowed;
      opacity: .9; }
      input[type='checkbox']:disabled:checked {
        --b: var(--disabled-inner);
        --bc: var(--border); }
      input[type='checkbox']:disabled + p {
        cursor: not-allowed;
        user-select: none; }
    input[type='checkbox']:hover:not(:checked):not(:disabled) {
      --bc: var(--border-hover); }
    input[type='checkbox']:not(.switch) {
      width: 21px; }
      input[type='checkbox']:not(.switch):after {
        opacity: var(--o, 0); }
      input[type='checkbox']:not(.switch):checked {
        --o: 1; }
    input[type='checkbox'] + p {
      flex: 1;
      font-size: 0.9em;
      cursor: pointer;
      line-height: 125%;
      user-select: none;
      margin: 0 0 0 8px;
      max-width: 160px; }
  input[type='checkbox']:not(.switch) {
    border-radius: 4px; }
    input[type='checkbox']:not(.switch):after {
      width: 5px;
      height: 9px;
      border: 2px solid var(--active-inner);
      border-top: 0;
      border-left: 0;
      left: 6px;
      top: 3px;
      transform: rotate(var(--r, 20deg)); }
    input[type='checkbox']:not(.switch):checked {
      --r: 43deg; } }

.is-medium {
  width: 200px; }

.is-small {
  width: 100px; }

.Locations {
  margin: 0;
  height: 100%;
  overflow: hidden;
  overflow-y: scroll; }

.Locations__none {
  display: flex;
  width: 100%;
  border: none;
  padding: 16px 32px;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.2);
  transition: background 150ms ease-in-out, visibility 250ms ease-in-out, opacity 250ms ease-in-out;
  text-align: center;
  height: 100%; }

.Locations__item:hover {
  box-shadow: 2px 1px 4px rgba(0, 0, 0, 0.1); }

.Locations__item.is-active {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 2px 1px 4px rgba(0, 0, 0, 0.1); }

.Locations__item.is-rejected .Locations__itemName,
.Locations__item.is-rejected .Locations__itemDescription,
.Locations__item.is-rejected .Locations__itemAddress {
  opacity: 0.4; }

.Locations__item:hover {
  cursor: pointer; }

.Locations__item {
  width: 100%;
  border: none;
  padding: 16px;
  margin: 0 0 16px 0;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  transition: box-shadow 150ms ease-in-out, background 150ms ease-in-out, visibility 250ms ease-in-out, opacity 250ms ease-in-out;
  text-align: left;
  font-size: 1em;
  outline: none;
  background: transparent;
  color: #fff;
  text-decoration: none;
  box-shadow: none;
  -webkit-appearance: none; }

.Locations__item.is-hidden {
  opacity: 0;
  visibility: hidden; }

.Locations__itemName {
  margin: 0 0 8px 0;
  font-weight: bold; }

.Locations__itemDescription {
  margin: 0 0 8px 0; }

.Locations__itemAddress {
  font-size: 0.7em;
  color: rgba(0, 0, 0, 0.3); }

.Locations__itemFooterOptions > * {
  margin: 0 0 0 8px; }

.Locations__itemFooterOptions {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.Locations__itemFooter {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  font-size: .8em;
  opacity: 0.8;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  margin: 8px 0 0 0;
  padding: 8px 0 0 0; }

@media only screen and (max-width: 800px) {
  .Locations {
    display: none; } }

.is-expanded .Map__container {
  width: 100%; }

.Map__container {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 1em;
  transition: padding 250ms ease-in-out; }

.Map {
  position: relative;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(var(--shadow), 0.2); }

.Map .leaflet-control-zoom-in,
.Map .leaflet-control-zoom-out {
  box-shadow: 0 2px 4px rgba(var(--shadow), 0.2);
  background: var(--white);
  width: 32px;
  height: 32px;
  color: var(--blue);
  cursor: pointer;
  user-select: none;
  font-size: 1.4em;
  transition: opacity 500ms ease-in-out, background 200ms ease-in-out; }

.Map .leaflet-control-zoom-in:hover,
.Map .leaflet-control-zoom-out:hover {
  color: var(--blue);
  background: var(--gray); }

.Map .leaflet-container a {
  background: var(--blue); }

.Map .leaflet-bar a:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px; }

.Map .leaflet-bar a:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom: none; }

.leaflet-container a {
  color: var(--blue); }

/* Map controls */
.Control {
  box-shadow: 0 2px 4px rgba(var(--shadow), 0.2);
  background: var(--white);
  width: 32px;
  height: 32px;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
  transition: opacity 500ms ease-in-out, background 200ms ease-in-out; }

.Control.is-hidden {
  visibility: hidden;
  opacity: 0; }

.Control:hover {
  background-color: var(--gray); }

.Control__locate:before {
  content: '';
  position: absolute;
  top: 8px;
  left: 8px;
  width: 12px;
  height: 12px;
  border: 2px solid var(--blue);
  border-radius: 100%; }

.Control .Spinner {
  display: none; }

.Control.is-loading {
  background-image: none; }

.Control.is-loading:before {
  display: none; }

.Control.is-loading .Spinner {
  display: block; }

.Control__lanes {
  background-color: var(--white);
  background-image: url(/img/lanes.svg);
  background-repeat: no-repeat;
  background-size: cover; }

.Control__lanes.is-selected {
  background-image: url(/img/lanes_white.svg);
  background-color: var(--blue); }

.Control__help {
  background-image: url(/img/help.svg);
  background-repeat: no-repeat;
  background-size: cover; }

.Control__mode {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 64px; }

.Control__mode .Control__modeBikes {
  background-color: var(--blue);
  border-radius: 4px 4px 0 0;
  background-image: url(/img/bike_white.svg);
  background-repeat: no-repeat;
  background-size: cover; }

.Control__mode .Control__modeDocks {
  border-radius: 0 0 4px 4px;
  background-image: url(/img/dock.svg);
  background-size: cover;
  background-repeat: no-repeat; }

.Control__mode.is-dock .Control__modeBikes {
  background-color: var(--white);
  background-image: url(/img/bike.svg); }

.Control__mode.is-dock .Control__modeDocks {
  background-color: var(--blue);
  background-image: url(/img/dock_white.svg); }

.Control__modeBikes,
.Control__modeDocks {
  width: 32px;
  height: 32px; }

.Control__divider {
  border: 1px solid #ddd;
  width: 1px;
  height: 100%; }

.Map .leaflet-top .leaflet-control {
  margin-top: 8px; }

@media only screen and (max-width: 800px) {
  .Map__container {
    width: 100%;
    height: 100%;
    padding: 0; }
  .Map__buttons {
    display: none; } }

.Marker__tooltip strong {
  font-weight: bold; }

.Marker,
.Cluster {
  width: 32px;
  height: 32px;
  background: var(--blue);
  background-size: 400% 400%;
  border: 5px solid #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 100%;
  transition: border 150ms ease-in-out, background 150ms ease-in-out; }

.Marker.leaflet-zoom-animated.leaflet-interactive:hover {
  border: 8px solid #fff; }

.Marker.leaflet-zoom-animated.leaflet-interactive:focus-visible {
  border: 8px solid #fff;
  outline: 2px solid var(--blue); }

.Marker.is-good {
  background: var(--green); }

.Marker.is-ok {
  background: var(--yellow); }

.Marker.is-low {
  background: var(--red); }

.Marker.is-empty {
  background: var(--darkgray); }

.Marker.is-user {
  box-shadow: 0 2px 4px rgba(var(--shadow), 0.2);
  border-radius: 100%;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center; }

.Marker.is-user .Marker__inner {
  position: absolute;
  border-radius: 100%;
  width: 24px;
  height: 24px;
  background: var(--blue);
  border: 4px solid var(--white);
  box-shadow: 0 0 0 0 white;
  animation: pulse 1000ms ease-in-out infinite; }

.Marker.is-dock:focus .Marker__inner {
  transform: scale(1.2) rotate(90deg); }

.Marker.is-dock {
  border-radius: 4px;
  transform: scale(1) rotate(90deg); }

.Marker.is-dock .Marker__inner {
  border-radius: 4px;
  transform: scale(1) rotate(90deg); }

.Marker.is-dock:hover .Marker__inner {
  transform: scale(0.9) rotate(90deg); }

.Cluster {
  font-weight: bold;
  background-color: var(--blue);
  color: #fff;
  line-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; }

.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
  border: none; }

.leaflet-cluster-anim .leaflet-marker-icon,
.leaflet-cluster-anim .leaflet-marker-shadow {
  -webkit-transition: -webkit-transform 0.3s ease-out, opacity 0.3s ease-in;
  -moz-transition: -moz-transform 0.3s ease-out, opacity 0.3s ease-in;
  -o-transition: -o-transform 0.3s ease-out, opacity 0.3s ease-in;
  transition: transform 0.3s ease-out, opacity 0.3s ease-in; }

.leaflet-cluster-spider-leg {
  -webkit-transition: -webkit-stroke-dashoffset 0.3s ease-out, -webkit-stroke-opacity 0.3s ease-in;
  -moz-transition: -moz-stroke-dashoffset 0.3s ease-out, -moz-stroke-opacity 0.3s ease-in;
  -o-transition: -o-stroke-dashoffset 0.3s ease-out, -o-stroke-opacity 0.3s ease-in;
  transition: stroke-dashoffset 0.3s ease-out, stroke-opacity 0.3s ease-in; }

.Spinner {
  border-top: 2px solid #ddd;
  border-right: 2px solid #ddd;
  border-bottom: 2px solid #ddd;
  border-left: 2px solid #0090d7;
  animation: load8 0.8s infinite linear; }

.Spinner, .Spinner:after {
  width: 30px;
  height: 30px;
  border-radius: 50%; }

.Spinner.is-small {
  width: 20px;
  height: 20px; }

.Spinner.is-mini {
  position: absolute;
  top: 8px;
  left: 8px;
  width: 16px;
  height: 16px;
  border-radius: 100%; }

.Toggle {
  display: flex;
  align-items: center; }

.Toggle:hover .Toggle__input {
  background: rgba(255, 255, 255, 0.3); }

.Toggle__input {
  margin: 0 .4em;
  width: 50px;
  height: 20px;
  border-radius: 20px;
  border: 2px solid #fff;
  position: relative;
  transition: all 350ms ease-in-out; }

.Toggle__label {
  position: relative;
  user-select: none;
  font-weight: bold; }

.Toggle__button {
  position: absolute;
  top: 1px;
  left: 1px;
  width: 14px;
  height: 14px;
  background: #fff;
  border-radius: 100%;
  transition: all 350ms ease-in-out; }

.Toggle.is-active .Toggle__button {
  left: calc(100% - 15px); }

.Tooltip {
  position: relative;
  display: inline-block;
  font-size: 0.8em;
  margin: 0 0 0 4px;
  display: inline-flex;
  text-align: center;
  vertical-align: baseline;
  top: -2px;
  line-height: 133%;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: white;
  color: var(--black);
  border: 1px solid #ccc;
  text-indent: 0;
  cursor: pointer;
  transition: background 250ms ease-in-out; }

.Tooltip:hover {
  background: rgba(0, 0, 0, 0.05); }

.Tooltip__text {
  visibility: hidden;
  text-align: center;
  padding: 12px;
  border-radius: 4px;
  font-size: 1.1em;
  line-height: 135%;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  opacity: 0;
  transition: opacity 250ms ease-in-out;
  margin-left: -56px;
  width: 120px;
  background: var(--white);
  color: var(--black);
  border: 1px solid #ccc;
  box-shadow: 1px 2px 2px rgba(var(--shadow), 0.2); }

.Tooltip:hover .Tooltip__text {
  visibility: visible;
  opacity: 1; }

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(36, 119, 190, 0.7); }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 20px rgba(36, 119, 190, 0); }
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(36, 119, 190, 0); } }

@keyframes load8 {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes Gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

.slide-fade-enter-active,
.slide-fade-leave-active {
  transition: all 250ms ease-in-out; }

.slide-fade-enter .has-transition,
.slide-fade-leave-to .has-transition {
  transform: translateY(20px);
  opacity: 0; }

.slide-fade-enter .Config__backdrop,
.slide-fade-leave-to .Config__backdrop,
.slide-fade-enter .About__backdrop,
.slide-fade-leave-to .About__backdrop,
.slide-fade-enter .Alert__backdrop,
.slide-fade-leave-to .Alert__backdrop {
  opacity: 0; }

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s; }

.fade-enter, .fade-leave-to {
  opacity: 0; }

.Popup__description {
  line-height: 135%;
  margin: 0 0 0.8em; }

.Popup__description strong {
  font-weight: bold; }

.Popup__content .Popup__input {
  min-width: auto;
  font-size: 1em; }

.Popup__comment {
  width: 100%;
  min-height: 30px;
  transition: all ease-in-out 250ms; }

.Popup__body {
  position: relative;
  padding: 0.8em;
  word-break: break-word; }

.Popup__address {
  font-size: 0.8em;
  width: 100%;
  opacity: 0.5;
  line-height: 135%;
  transition: opacity 150ms ease-in-out; }

.Popup__address:hover {
  opacity: 0.8; }

.Popup__button {
  display: inline-block;
  border-radius: 4px;
  width: 100%;
  margin: auto;
  font-size: 1.2em;
  padding: 16px 0;
  border: none;
  outline: none;
  background: #2A84D2;
  color: var(--white);
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  box-shadow: none;
  transition: background 250ms ease-in-out; }

.can-send .Popup__controls .Popup__button:hover,
.Popup__controls .Popup__button:hover {
  background: #1c598e;
  cursor: pointer; }

.Popup__controls .Popup__button,
.Popup__controls .Popup__button:hover {
  background: #ccc; }

.can-send .Popup__controls .Popup__button,
.can-send .Popup__controls .Popup__button {
  background: var(--blue); }

.Popup__body {
  overflow: hidden; }

.Popup__spinner {
  position: absolute;
  margin-top: -15px;
  visibility: hidden;
  transition: all ease-in-out 250ms;
  opacity: 0; }

.Popup__content.is-loading .Popup__spinner {
  opacity: 1;
  visibility: visible; }

.Popup__content.is-loading .Popup__controls {
  opacity: 0;
  visibility: hidden; }

.Popup__content.is-loading .Popup__comment {
  opacity: 0;
  visibility: hidden; }

.Popup__content.is-readonly .Popup__description {
  display: block; }

.Popup__content.is-readonly .Popup__input {
  display: none; }

.Popup__content.is-readonly .Popup__controls {
  display: none; }

.Popup__content.is-readonly.leaflet-popup .leaflet-popup-close-button {
  display: none; }

.is-loading .Popup__header {
  animation: Gradient 3s ease-in-out infinite; }

.Popup__header {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: 4px 4px 0 0;
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, var(--green));
  background-size: 400% 400%;
  padding: 0.8em;
  color: var(--white);
  line-height: 135%;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.2em;
  outline: none; }

.Popup__user {
  color: var(--black); }

.Popup__userAvatar {
  display: block;
  margin: 0 4px 0 0;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  overflow: hidden; }

.Popup .leaflet-popup-content-wrapper {
  border-radius: 4px;
  padding: 0;
  border: none;
  background: var(--white);
  color: var(--black);
  font-size: 14px;
  line-height: 24px;
  box-shadow: 0 2px 4px rgba(var(--shadow), 0.2); }

.Popup.leaflet-popup .leaflet-popup-close-button {
  top: 9px;
  right: 5px;
  color: var(--white);
  font-size: 16px;
  font-weight: normal; }

.Popup.leaflet-popup .leaflet-popup-close-button:hover {
  color: #333; }

.Popup .leaflet-popup-content {
  margin: 0; }

.Popup .leaflet-popup-tip {
  border-radius: 0;
  width: 12px;
  height: 12px;
  margin: -10px auto 0;
  padding: 1px;
  border: 1px solid transparent;
  background: var(--white);
  box-shadow: 0 2px 4px rgba(var(--shadow), 0.2); }

.leaflet-container a {
  color: var(--black);
  text-decoration: none; }

.leaflet-container a.leaflet-popup-close-button {
  display: none; }

@media only screen and (max-width: 800px) {
  .Popup__header {
    font-size: 1em; }
  .Popup__description {
    font-size: 1.1em; }
  .Popup__body {
    min-width: 200px; }
  .Popup__button {
    font-size: 1em; } }

.Items {
  display: flex;
  justify-content: center; }

.Item:first-child {
  margin: 0 0.2em 0 0;
  border-radius: 100%; }

.Item:last-child {
  margin: 0 0 0 0.2em; }

.Item {
  display: flex;
  width: 100px;
  height: 100px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f6f8fa;
  border-radius: 8px; }

.Item__amount {
  font-weight: bold;
  font-size: 1.4em;
  margin: 0 0 0.2em; }

.Station__id {
  margin: 0 .4em 0 0; }

.Station__id:after {
  content: '';
  position: relative;
  width: 1px;
  height: 100%;
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  left: 0.4em;
  margin: 0 0.4em 0 0; }

* {
  box-sizing: border-box; }

html, body {
  width: 100%;
  height: 100%; }

body {
  font-size: 1.1em;
  line-height: 135%;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  color: var(--black);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin: 0;
  padding: 0;
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, var(--green));
  background-size: 400% 400%; }

.App, .Map {
  width: 100%;
  height: 100%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  color: var(--light); }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

a {
  text-decoration: none; }

code {
  font-family: monospace; }

body.is-loading {
  animation: Gradient 3s ease-in-out infinite; }

.Home,
.Map {
  width: 100%;
  height: 100%; }

textarea {
  display: block;
  outline: none;
  background-color: var(--white);
  width: 100%;
  border: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1em;
  font-weight: 300;
  padding: 16px;
  height: 100px;
  min-width: 300px;
  resize: none;
  word-break: break-word; }

input::placeholder,
textarea::placeholder {
  color: #333;
  opacity: 0.5; }

button {
  margin: 0;
  border: none;
  padding: 0;
  text-align: left;
  font-size: 1em;
  outline: none;
  background: transparent;
  color: var(--white);
  text-decoration: none;
  box-shadow: none;
  -webkit-appearance: none; }

button:hover {
  cursor: pointer; }
