@import 'helpers/transitions';


.BikeStationPopup__description {
  line-height: 135%;
  margin: 0 0 0.8em;
}

.BikeStationPopup__description strong {
  font-weight: bold;
}

.BikeStationPopup__content .BikeStationPopup__input {
  min-width: auto;
  font-size: 1em;
}

.BikeStationPopup__content {
  user-select: none;
}

.BikeStationPopup__comment {
  width: 100%;
  min-height: 30px;
  transition: all ease-in-out 250ms;
}

.BikeStationPopup__body {
  position: relative;
  padding: 0.8em;
  word-break: break-word;
}

.leaflet-container .BikeStationPopup__address {
  font-size: 0.8em;
  width: 100%;
  opacity: 0.5;
  line-height: 135%;
  transition: opacity 150ms ease-in-out;
  color: #333;
}

.BikeStationPopup__address:hover {
  opacity: 0.8;
}

.BikeStationPopup__button {
  display: inline-block;
  border-radius: 4px;
  width: 100%;
  margin: auto;
  font-size: 1.2em;
  padding: 16px 0;
  border: none;
  outline: none;
  background: #2A84D2;
  color: var(--white);
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  box-shadow: none;
  transition: background 250ms ease-in-out;
}

.can-send .BikeStationPopup__controls .BikeStationPopup__button:hover,
.BikeStationPopup__controls .BikeStationPopup__button:hover {
  background: #1c598e;
  cursor: pointer;
}

.BikeStationPopup__controls .BikeStationPopup__button,
.BikeStationPopup__controls .BikeStationPopup__button:hover {
  background: #ccc;
}


.can-send .BikeStationPopup__controls .BikeStationPopup__button,
.can-send .BikeStationPopup__controls .BikeStationPopup__button {
  background: var(--blue);
}

.BikeStationPopup__body {
  overflow: hidden;
}

.BikeStationPopup__spinner {
  position: absolute;
  margin-top: -15px;
  visibility: hidden;
  transition: all ease-in-out 250ms;
  opacity: 0;
}

.BikeStationPopup__content.is-loading .BikeStationPopup__spinner {
  opacity: 1;
  visibility: visible;
}
.BikeStationPopup__content.is-loading .BikeStationPopup__controls {
  opacity: 0;
  visibility: hidden;
}
.BikeStationPopup__content.is-loading .BikeStationPopup__comment {
  opacity: 0;
  visibility: hidden;
}

.BikeStationPopup__content.is-readonly .BikeStationPopup__description {
  display: block;
}
.BikeStationPopup__content.is-readonly .BikeStationPopup__input {
  display: none;
}
.BikeStationPopup__content.is-readonly .BikeStationPopup__controls {
  display: none;
}
.BikeStationPopup__content.is-readonly.leaflet-popup .leaflet-popup-close-button {
  display: none;
}

.is-loading .BikeStationPopup__header {
	animation: Gradient 3s ease-in-out infinite;
}

.BikeStationPopup__header {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: 4px 4px 0 0;
	background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, var(--green));
	background-size: 400% 400%;
  padding: 0.8em;
  color: var(--white);
  line-height: 135%;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.2em;
  outline: none;
}

.BikeStationPopup__user {
  color: var(--black);
}
.BikeStationPopup__userAvatar {
  display: block;
  margin: 0 4px 0 0;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  overflow: hidden;
}

.BikeStationPopup .leaflet-popup-content-wrapper {
  border-radius: 4px;
  padding: 0;
  border: none;
  background: var(--white);
  color: var(--black);
  font-size: 14px;
  line-height: 24px;
  box-shadow: 0 2px 4px rgba(var(--shadow), 0.2);
}

.BikeStationPopup.leaflet-popup .leaflet-popup-close-button {
  top: 9px;
  right: 5px;
  color: var(--white);
  font-size: 16px;
  font-weight: normal;
}
.BikeStationPopup.leaflet-popup .leaflet-popup-close-button:hover {
  color: #333;
}
.BikeStationPopup .leaflet-popup-content {
  margin: 0;
}
.BikeStationPopup .leaflet-popup-tip {
  border-radius: 0;
  width: 12px;
  height: 12px;
  margin: -10px auto 0;
  padding: 1px;
  border: 1px solid transparent;
  background: var(--white);
  box-shadow: 0 2px 4px rgba(var(--shadow), 0.2);
}

.leaflet-container a {
  color: var(--black);
  text-decoration: none;
}

.leaflet-container a.leaflet-popup-close-button {
  display: none;
}

@media only screen and (max-width: 800px) {
  .BikeStationPopup__header {
    font-size: 1em;
  }
  .BikeStationPopup__description {
    font-size: 1.1em;
  }
  .BikeStationPopup__body {
    min-width: 200px;
  }
  .BikeStationPopup__button {
    font-size: 1em;
  }
}

.Items {
  display: flex;
  justify-content: center;
}

.Item:first-child {
  margin: 0 0.4em 0 0;
}
.Item:last-child {
  margin: 0 0 0 0.4em;
}
.Item {
  display: flex;
  width: 100px;
  height: 100px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  //border-radius: 100%;
}

.Item__icon.is-bike {
  width: 50px;
  height: 50px;
  background-image: url(/img/bike.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

.Item__icon.is-base {
  width: 50px;
  height: 50px;
  background-image: url(/img/dock.svg);
  background-repeat: no-repeat;
  background-size: 75%;
  background-position: center;
}

.Item__amount {
  font-weight: bold;
  font-size: 1.4em;
  margin: 0 0 0.2em;
}

.Station__id {
  margin: 0 .4em 0 0;
}

.Station__id:after {
  content: '';
  position: relative;
  width: 1px;
  height: 100%;
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  left: 0.4em;
  margin: 0 0.4em 0 0;
}

.BikeStationPopup__footer {
  display: flex;
  align-items: center;
  width: 100%;
}
