@import 'helpers/transitions';

.Popup__description {
  line-height: 135%;
  margin: 0 0 0.8em;
}

.Popup__description strong {
  font-weight: bold;
}

.Popup__content .Popup__input {
  min-width: auto;
  font-size: 1em;
}

.Popup__comment {
  width: 100%;
  min-height: 30px;
  transition: all ease-in-out 250ms;
}

.Popup__body {
  position: relative;
  padding: 0.8em;
  word-break: break-word;
}
.Popup__address {
  display: none;
  font-size: .8em;
  width: 100%;
  opacity: 0.5;
  line-height: 135%;
}

.Popup__button {
  display: inline-block;
  border-radius: 4px;
  width: 100%;
  margin: auto;
  font-size: 1.2em;
  padding: 16px 0;
  border: none;
  outline: none;
  background: #2A84D2;
  color: #fff;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  box-shadow: none;
  transition: background 250ms ease-in-out;
}

.can-send .Popup__controls .Popup__button:hover,
.Popup__controls .Popup__button:hover {
  background: #1c598e;
  cursor: pointer;
}

.Popup__controls .Popup__button,
.Popup__controls .Popup__button:hover {
  background: #ccc;
}


.can-send .Popup__controls .Popup__button,
.can-send .Popup__controls .Popup__button {
  background: #2477BE;
}

.Popup__body {
  overflow: hidden;
}

.Popup__spinner {
  position: absolute;
  margin-top: -15px;
  visibility: hidden;
  transition: all ease-in-out 250ms;
  opacity: 0;
}

.Popup__content.has-address .Popup__address {
  display: block;
}
.Popup__content.is-loading .Popup__spinner {
  opacity: 1;
  visibility: visible;
}
.Popup__content.is-loading .Popup__controls {
  opacity: 0;
  visibility: hidden;
}
.Popup__content.is-loading .Popup__comment {
  opacity: 0;
  visibility: hidden;
}

.Popup__content.is-readonly .Popup__description {
  display: block;
}
.Popup__content.is-readonly .Popup__input {
  display: none;
}
.Popup__content.is-readonly .Popup__controls {
  display: none;
}
.Popup__content.is-readonly.leaflet-popup .leaflet-popup-close-button {
  display: none;
}

.is-loading .Popup__header {
	animation: Gradient 3s ease-in-out infinite;
}

.Popup__header {
  border-radius: 4px 4px 0 0;
	background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
	background-size: 400% 400%;
  padding: 0.8em;
  color: #fff;
  line-height: 135%;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.2em;
  outline: none;
}

.Popup__user {
  color: #000;
}
.Popup__userAvatar {
  display: block;
  margin: 0 4px 0 0;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  overflow: hidden;
}

.Popup .leaflet-popup-content-wrapper {
  border-radius: 4px;
  padding: 0;
  border: none;
  background: #fff;
  color: #000;
  font-size: 14px;
  line-height: 24px;
  box-shadow: 0 2px 4px rgba(#000, 0.2);
}

.Popup.leaflet-popup .leaflet-popup-close-button {
  top: 9px;
  right: 5px;
  color: #fff;
  font-size: 16px;
  font-weight: normal;
}
.Popup.leaflet-popup .leaflet-popup-close-button:hover {
  color: #333;
}
.Popup .leaflet-popup-content {
  margin: 0;
}
.Popup .leaflet-popup-tip {
  border-radius: 0;
  width: 12px;
  height: 12px;
  margin: -10px auto 0;
  padding: 1px;
  border: 1px solid transparent;
  background: #fff;
  box-shadow: 0 2px 4px rgba(#000, 0.2);
}

.leaflet-container a.leaflet-popup-close-button {
  display: none;
}

@media only screen and (max-width: 800px) {
  .Popup__header {
    font-size: 1em;
  }
  .Popup__description {
    font-size: 1.1em;
  }
  .Popup__body {
    min-width: 200px;
  }
  .Popup__button {
    font-size: 1em;
  }
  .Popup__address {
    max-height: 40px;
    overflow: hidden;
    overflow-y: scroll;
  }
}

.Items {
  display: flex;
  justify-content: center;
}

.Item:first-child {
  margin: 0 0.2em 0 0;
}
.Item:last-child {
  margin: 0 0 0 0.2em;
}
.Item {
  display: flex;
  flex-direction: column;
  text-align: center;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  padding: 0.8em;
  width: 100px;
}

.Item__amount {
  font-weight: bold;
  font-size: 1.4em;
  margin: 0 0 0.2em;
}
